body {
    margin: auto;
    font-family: Helvetica;
    font-size: .8em;
}
canvas {
    border: 1px solid #BBB;
    margin: 40px 70px;
}
canvas:hover{
    cursor: crosshair;
}

#controls {
    position: absolute;
    margin-left: 70px;
    margin-top: 10px;
    height: 40px;
}
#grid-overlay {
    position: absolute;
    top: 40px;
    left: 70px;
    width: 1047px;
    height: 650px;
    overflow: hidden;
}
#grid-overlay:hover {
    cursor: crosshair;
}
#grid-overlay img {
    height: 100%;
    opacity: 0.2;
    /*pointer-effects: none;*/
}

.play-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 5px;
    position: absolute;
    left: 100px;
    top: 100px;
    opacity: 0.8;
}

.hidden {
    display: none;
}